<div class="row pl-4">
    <span>-rwxr-xr--. {{ forloop.index | minus:1 }}</span>
    <span class="text-truncate pl-3" style="width: 150px;">
        {% assign tags = post.tags | sort %}
        {% for category in tags %}
            <a href="{{ site.url }}/tags#{{ category }}">{{ category }}</a>
        {% if forloop.last != true %}
        {{ " " }}
        {% endif %}
        {% endfor %}
        {% assign tags = nil %}
    </span>
    <span class="px-3"><span class="float-right text-right">{{ post.date | date: "%b %d %Y" }}</span></span>
    <span ><a class="post-link" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></span>
</div>