<div class="row">
    <div class="col pr-0">
        <span>-rwxr-xr-x. 1 </span>
        <span class="text-right">
            {% assign t = post.tags | sort %}
                {% for category in t %}
                <a href="{{ site.url }}/tags/#{{ category }}">{{ category }}</a>
                {% endfor %}
            {% assign tag = nil %}
        </span>
        <span class="float-right text-right">{{ post.date | date: "%b %d %Y" }}</span>
        <span class="px-3 float-right text-right">{{ post.content | number_of_words }}</span>
    </div>
    <div class="col-8"><a class="post-link" href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></div>
</div>