<div id="comment"></div>
<link rel="stylesheet" href="{{ site.url}}/resource/gitment/gitment.css">
<script src="{{ site.url}}/resource/gitment/gitment.js"></script>
<script>
    var gitment = new Gitment({
        id: '',
        owner: 'wangspx',
        repo: 'https://github.com/wangspx/wangspx.github.io.git',
        oauth: {
            client_id: '864785bf9b1c3e6d4b24',
            client_secret: '3af5f2bec17e15c3a86362ab3f5c9898628170d5',
        },
    })
    gitment.render('comment')
</script>