---
layout: default
---

<p>
    <a href="{{ site.url }}"><< Return Home</a>
</p>

<p>
    [root@wangspx.github.io ~]# cat ~{{page.id}}
</p>

<h1>{{page.title}}</h1>

<p>
    <span>Date: {{page.date | date: "%Y-%m-%d"}}</span>
    {% if page.tags != nil %}
    <span>| Tags: </span>
    {% for tag in page.tags %}
    <a href="{{ site.url }}/tags#{{ tag }}">{{tag}}</a>
    {% endfor %}
    {% endif %}
    <span>| Words: {{ content | strip_html | strip_newlines | remove: " " | size}}</span>
    <span id="busuanzi_container_site_pv">| Read: <span id="busuanzi_value_page_pv"></span></span>
</p>

<hr>

{{ content }}

<br>

<div class="row">
    <div class="col">
        {% if page.previous != nil %}
        <span class="float-left"><a href="{{ site.url }}/{{page.previous.url}}"><< PREVIOUS: {{page.previous.title}}</a></span>
        {% endif %}
        {% if page.next != nil %}
        <span class="float-right"><a href="{{ site.url }}/{{page.next.url}}">NEXT: {{page.next.title}} >></a></span>
        {% endif %}
    </div>
</div>

{% include comment.html %}

<style>
    #busuanzi_container_site_pv {
        display: none;
    }
</style>