---
layout: default
---

<p>
[root@iZwz9j80yesn9eqdugq563Z ~]# echo $HOME
</p>

<p>
    <a href="{{ site.url }}"><< Return Home</a>
</p>

<p>
    [root@iZwz9j80yesn9eqdugq563Z ~]# cat ~{{page.id}}
</p>

<h1>{{page.title}}</h1>

<p>
    <span>Date: {{page.date | date: "%Y-%m-%d"}}</span>
    {% if page.tags != nil %}
    <span>| Tags: </span>
    {% for tag in page.tags %}
    <a href="">{{tag}}</a>
    {% endfor %}
    {% endif %}
    <span>| Words: {{ content | strip_html | strip_newlines | remove: " " | size}}</span>
</p>

<hr>

{{ content }}

<div class="row">
    <div class="col">
        {% if page.previous != nil %}
        <span class="float-left"><a href="{{ site.url }}/{{page.previous.url}}"><< PREVIOUS: {{page.previous.title}}</a></span>
        {% endif %}
        {% if page.next != nil %}
        <span class="float-right"><a href="{{ site.url }}/{{page.next.url}}">NEXT: {{page.next.title}} >></a></span>
        {% endif %}
    </div>
</div>