<!DOCTYPE html>
<html lang="zh">
    {% include head.html %}
<body class="p-5">
<div class="container">
    {% include banner.html %}
    {{ content }}

    <div>
        {{paginator|size}}
        {% for post in paginator.posts %}
        <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
        <p class="author">
            <span class="date">{{ post.date }}</span>
        </p>
        <div class="content">
            {{ post.content }}
        </div>
        {% endfor %}
    </div>
</div>
{% include footer.html %}
{% include import.html %}
</body>
</html>